TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
YOUTUBE_API_KEY=

OUTPUT_PATH=./recordings
POLL_INTERVAL_TWITCH=60
POLL_INTERVAL_YOUTUBE=300
POLL_INTERVAL_TIKTOK=120
MAX_CONCURRENT=3

YTDLP_PATH=C:/yt-dlp/yt-dlp.exe
FFMPEG_PATH=C:/ffmpeg/bin/ffmpeg.exe
STREAMLINK_PATH=streamlink

PORT=3001
